body{
    display: flex;
    background-color: #0056D2;
}


img {
    
    width: 45%;
    border-radius: 8px;
    margin-top: 10%;
    float:right;


}

button {
    border-radius: 5px;
    color: #0056D2;
    padding: 5px;
    width: 110px;
    font-family: "Open Sans", sans-serif;
    border: 1px  solid  gainsboro ;
    font-size: 15px;
    font-weight: bold;
   
}

.container-1{
    
    margin-top: 10%;
    margin-left: 7%;
   
}
div{
    margin-top: 15px;
    margin-right: 25px;
}


#first-para{

    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 40px;
   
    
}

#second-para {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: whitesmoke;
    
}

  

